<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vocab_Master_mad_project">

        <activity
            android:name=".LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".AboutThisAppActivity"
            android:exported="false" />

        <activity
            android:name=".CustomizeActivity"
            android:label="Customize Vocabularies"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".StudyActivity"
            android:label="Study Mode"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".QuizActivity"
            android:label="Quiz Mode"
            android:parentActivityName=".StudyActivity" />

        <activity
            android:name=".SuccessActivity"
            android:label="Success"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".SpellingChooseActivity"
            android:label="Choose Spelling Difficulty"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".SpellingQuizActivity"
            android:label="Spelling Quiz"
            android:parentActivityName=".StudyActivity" />

        <activity
            android:name=".TapMatchChooseActivity"
            android:label="Choose Tap to Match Difficulty"
            android:parentActivityName=".MainActivity" />

    </application>

</manifest>